#container{
    margin:20px;
}


div{
    width:200px;
    height:200px;
    border:2px solid black;
}

#one{
    background-color:green;
    position:absolute;
    top:40px;
    left:80px;
    margin-left:400px;
}

#two {
    position:absolute;
    background-color:yellow;
    top:100px;
    left:70px;
}

