#container{
    background-color:#14213d;
    width:90%;
    /* height:500px; */
    margin:0 , auto;
    border: 5px solid #14213d;
    display:flex;
    flex-direction: row; 
    justify-content: center;
    /* flex-wrap: wrap;  */
  
}

#container div{
    width:200px;
    height:200px;
    text-align:center;
    flex-basis:500px; 
}

div:nth-of-type(1){
    flex-grow:1;
    flex-shrink:2;
}

